In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('titanic_MD.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",?,38.0,1.0,0.0,PC 17599,71.2833,C85,C
1,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1.0,0.0,113803,53.1000,C123,S
2,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0.0,0.0,17463,51.8625,E46,S
3,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,NaN,1.0,NaN,PP 9549,16.7000,G6,S
4,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,NaN,0.0,113783,26.5500,C103,S

In [3]:
print('df dataset shape:', df.shape)
df.head()

df dataset shape: (183, 12)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",?,38.0,1.0,0.0,PC 17599,71.2833,C85,C
1,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1.0,0.0,113803,53.1000,C123,S
2,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0.0,0.0,17463,51.8625,E46,S
3,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,NaN,1.0,NaN,PP 9549,16.7000,G6,S
4,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,NaN,0.0,113783,26.5500,C103,S

In [4]:
df.isnull().sum()

PassengerId     0
Survived        0
Pclass          0
Name            0
Sex             0
Age            25
SibSp           3
Parch          12
Ticket          0
Fare            8
Cabin           0
Embarked       12
dtype: int64

In [5]:
np.unique(df['Sex'])
#Podemos ver que hay signos de interrogación

array(['?', 'female', 'male'], dtype=object)

In [20]:
cols = []
val = []
for col in df.select_dtypes(include='object').columns:
    cols.append(col)
    val.append(df[col].str.contains(r'\?').sum())
pd.DataFrame({
    'cols':cols,
    'val':val
})

AttributeError: Can only use .str accessor with string values, which use np.object_ dtype in pandas

In [7]:
df.replace(r'\?', np.nan, regex = True, inplace = True)
df.isnull().sum()
#PAra convertir los sisgnos de  interrogación en nan

PassengerId     0
Survived        0
Pclass          0
Name            0
Sex            51
Age            25
SibSp           3
Parch          12
Ticket          0
Fare            8
Cabin           0
Embarked       12
dtype: int64

In [8]:
###Para esta colummna utilizaría la immputación sectorizada moda porque es el que mejor ayuda a completar los datos sin que se pierda información valiosa. Asumiendo que los datos que se tienen la mayoría de los que se salvan son mujeres.
Sexos = pd.DataFrame(df.groupby(['Survived']) ['Sex'].agg(lambda x:x.value_counts().index[0])).reset_index()
Sexos.columns = ['Survived', 'sex_new']
Sexos

   Survived sex_new
0         0    male
1         1  female

In [10]:
np.unique(df['Age'])
from scipy import stats
stats.mode(df['Age'])
#Para esta columna voy a usar imputación moda y voy a asumir que los pasajeros tienen edades similares entonces la edad que más se repite es 24

ModeResult(mode=array([ 24.]), count=array([9]))

In [11]:
np.unique(df['SibSp'])

array([  0.,   1.,   2.,   3.,  nan,  nan,  nan])

In [12]:
#La columna SibSp no tiene muchos faltantes entonces podríamos eliminarlos con listwise 
df = df.dropna(subset = ['SibSp'])

(180, 12)

In [13]:
np.unique(df['Parch'])

array([  0.,   1.,   2.,   4.,  nan,  nan,  nan,  nan,  nan,  nan,  nan,
        nan,  nan,  nan,  nan,  nan])

In [14]:
#Para la columna Parch faltan 12 datos por lo queusaría también la imputación moda
#Se pondría como valor 0 porque la mayoría que viaja no tiene hijos
stats.mode(df['Parch'])

ModeResult(mode=array([ 0.]), count=array([113]))

In [15]:
df['Fare'].unique()

array([  71.2833,   53.1   ,   51.8625,   16.7   ,   13.    ,   35.5   ,
        263.    ,   76.7292,   61.9792,   83.475 ,   10.5   ,       nan,
         34.6542,   63.3583,   77.2875,   52.    ,  247.5208,   26.2833,
         79.2   ,   26.    ,   66.6   ,   33.5   ,   30.6958,   28.7125,
         39.    ,   27.7208,  146.5208,   10.4625,   31.    ,  113.275 ,
         90.    ,   52.5542,   26.55  ,   79.65  ,    0.    ,  153.4625,
        135.6333,   29.7   ,   77.9583,   91.0792,   12.875 ,  151.55  ,
        108.9   ,   56.9292,   83.1583,  262.375 ,  164.8667,  134.5   ,
         57.9792,   28.5   ,   55.    ,   75.25  ,   69.3   ,   55.4417,
        211.5   ,  120.    ,    8.05  ,   55.9   ,   81.8583,   30.5   ,
         27.75  ,   89.1042,   38.5   ,   13.7917,   78.2667,   86.5   ,
         26.2875,   34.0208,   93.5   ,   49.5   ,   71.    ,  106.425 ,
        110.8833,   39.6   ,   51.4792,   26.3875,   40.125 ,   32.3208,
         30.    ,   25.5875,  512.3292,  211.3375,   57.    ,    7.65  ,
        227.525 ,   49.5042,   78.85  ,   12.475 ,   25.9292,   39.4   ,
         50.4958,    5.    ])

In [17]:
#Para esta columna usaría una imputación de media sectorizada debido a que hay distintas clases de pasajeros.
#Así a cada pasajer se le va a agregar la media según su clase
fares = pd.DataFrame(df.groupby('Pclass')['Fare'].mean().reset_index())
fares.columns = ['Pclass', 'Fare']
fares

   Pclass       Fare
0       1  89.320721
1       2  19.011907
2       3  11.402778

In [24]:
df['Embarked'].unique()

array(['C', 'S', nan, 'Q'], dtype=object)

In [43]:
#Para esta columnda voy a usar imputación moda ya que vamos a asumir que va a asignar el valor de la embarcación que más se usa.
#stats.mode(df['Embarked']) No me funcionó
from sklearn.impute import SimpleImputer
mode = imp_mode.fit_transform(df[['Embarked']])

ModuleNotFoundError: No module named 'sklearn.impute'

In [21]:
df.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp          float64
Parch          float64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [41]:
df1 =pd.read_csv('titanic.csv')
df1.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
1,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
2,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
3,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
4,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S

In [32]:
#Hay que importar las librerías que vamos a usar
from sklearn.impute import SimpleImputer
imp_mean = SimpleImputer(missing_values = np.nan, strategy = 'mean')
imp_median = SimpleImputer(missing_values = np.nan, strategy = 'median')
imp_mode = SimpleImputer(missing_values = np.nan, strategy = 'most_frequent')
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler

ModuleNotFoundError: No module named 'sklearn.impute'

In [38]:
#Vamos a definir la función que se va a usar para comparar datasets
import sklearn
def function(df, columna, columna2, *args):
    listw = df.dropna(subset = [columna])
    listw2 = df.dropna(subset = [columna2, columna])
    listwshape = listw.shape    
    moda = imp_mode.fit_transform(df[[columna]])
    dic = pd.DataFrame(df.groupby([*args])[columna].agg(lambda x:x.value_counts().index[0])) \
    .reset_index()
    dic.columns = [*dic.columns[:-1], 'New']
    df = df.merge(dic, how = 'left', on = [*args])
    if(df.dtypes[columna] == 'int64' or df.dtypes[columna] == 'float64'):
        pairw = df.corr()
        media = imp_mean.fit_transform(df[[columna]])
        mediana = imp_median.fit_transform(df[[columna]])
        lr = lm.fit(listw2[[columna2]], listw2[columna])
        lr2 = lm.predict(listw2[[column2]])
        f = 2
        xl = df[columna].mean() - (df[columna].std() * f)
        xu = df[columna].mean() + (df[columna].std() * f)
        df_sd = df[(df[columna]>=xl) & (df[columna]<=xu)]
        pl = np.percentile(listw[columna], 5)
        pu = np.percentile(listw[columna], 95)
        df_sd2 = df[(df[columna]>=pl) & (df[columna]<=pu)]
        df_sd2 = df[(df[columna]>=pl) & (df[columna]<=pu)]
        return('listwise:', listwshape, 'pairwise:', pairw, 'moda', moda, 'sect impute', df['New'], 'media', media, 'mediana', mediana, 'linear regression', lr2, 'outliers media', df_sd[column].describe(), 'outliers percentile', df_sd2[column].describe())
    else:
        moda = imp_mode.fit_transform(df[[columna]])
        return('listwise:', listw[columna].describe(), 'mode', moda, 'sect imput', df['New'])

In [42]:
function(df, df1, "Sex", "Fare", "Survived")

ValueError: cannot copy sequence with size 183 to array axis with dimension 12

In [ ]:
function(df, df1, "Age", "Fare", "Survived")

In [ ]:
function(df, df1, "SibSp", "Fare", "Survived")

In [ ]:
function(df, df1, "Parch", "Fare", "Survived")

In [ ]:
function(df, df1, "Fare", "Fare", "Survived")

In [ ]:
titanic1 = df1(df, df1, "Embarked", "Fare", "Survived")
titanic1.to_csv(r'titanic1.csv')

In [ ]:
titanic1['Sex_secimp'] = np.where((titanic1['Sex'] == titanic1['Sex_secimp']), True,False)
titanic1['Sex_moda'] = np.where((titanic1['Sex'] == titanic1['Sex_moda']), True,False)
a = titanic1['Sex_secimp'].sum()
b = titanic1['Sex_moda'].sum()

titanic1['Age_secimp'] = np.where((titanic1['Age'] == titanic1['Age_secimp']), True,False)
titanic1['Age_moda'] = np.where((titanic1['Age'] == titanic1['Age_moda']), True,False)
titanic1['Age_media'] = np.where((titanic1['Age'] == titanic1['Age_media']), True,False)
titanic1['Age_mediana'] = np.where((titanic1['Age'] == titanic1['Age_mediana']), True,False)
c = titanic1['Age_secimp'].sum()
d = titanic1['Age_moda'].sum()
e = titanic1['Age_media'].sum()
f = titanic1['Age_mediana'].sum()

titanic1['SibSp_secimp'] = np.where((titanic1['SibSp'] == titanic1['SibSp_secimp']), True,False)
titanic1['SibSp_moda'] = np.where((titanic1['SibSp'] == titanic1['SibSp_moda']), True,False)
titanic1['SibSp_media'] = np.where((titanic1['SibSp'] == titanic1['SibSp_media']), True,False)
titanic1['SibSp_mediana'] = np.where((titanic1['SibSp'] == titanic1['SibSp_mediana']), True,False)
g = titanic1['SibSp_secimp'].sum()
h = titanic1['SibSp_moda'].sum()
i = titanic1['SibSp_media'].sum()
j = titanic1['SibSp_mediana'].sum()

titanic1['Parch_secimp'] = np.where((titanic1['Parch'] == titanic1['Parch_secimp']), True,False)
titanic1['Parch_moda'] = np.where((titanic1['Parch'] == titanic1['Parch_moda']), True,False)
titanic1['Parch_media'] = np.where((titanic1['Parch'] == titanic1['Parch_media']), True,False)
titanic1['Parch_mediana'] = np.where((titanic1['Parch'] == titanic1['Parch_mediana']), True,False)
k = titanic1['Parch_secimp'].sum()
l = titanic1['Parch_moda'].sum()
m = titanic1['Parch_media'].sum()
n = titanic1['Parch_mediana'].sum()

titanic1['Fare_secimp'] = np.where((titanic1['Fare'] == titanic1['Fare_secimp']), True,False)
titanic1['Fare_moda'] = np.where((titanic1['Fare'] == titanic1['Fare_moda']), True,False)
titanic1['Fare_media'] = np.where((titanic1['Fare'] == titanic1['Fare_media']), True,False)
titanic1['Fare_mediana'] = np.where((titanic1['Fare'] == titanic1['Fare_mediana']), True,False)
o = titanic1['Fare_secimp'].sum()
p = titanic1['Fare_moda'].sum()
q = titanic1['Fare_media'].sum()
r = titanic1['Fare_mediana'].sum()

titanic1['Embarked_secimp'] = np.where((titanic1['Embarked'] == titanic1['Embarked_secimp']), True,False)
titanic1['Embarked_moda'] = np.where((titanic1['Embarked'] == titanic1['Embarked_moda']), True,False)
s = titanic1['Embarked_secimp'].sum()
t = titanic1['Embarked_moda'].sum()

p = {'Sex_secimp': a, 'Sex_moda': b, 'Age_secimp': c, 'Age_moda': d, 'Age_media': e, 'Age_mediana': f,\
     'SibSp_secimp': g, 'SibSp_moda': h, 'SibSp_media': i, 'SibSp_mediana': j, 'Parch_secimp': k,\
     'Parch_moda': l, 'Parch_media': m, 'Parch_mediana': n, 'Fare_secimp': o, 'Fare_mode': p, 'Fare_media': q,\
     'Fare_mediana': r, 'Embarked_secimp': s, 'Embarked_mode': t}
p

In [ ]:
#### Se puede ver que cuando se usa la moda los resultados son mejores que con los otros métodos. Le atinamos bien a muchas de las columnas.
###Age: Da lo mismo imputar con cualquiera de lso métodos porque igual le dan un buen resultado
###SibSp: La maoda y la mediana son los que mejor le atinan a los valores.
###ParCh: En este también la moda y la mediana son los que mejor imputan 
###Fare: la media, la moda y la mediana dan buenos resultados en cambio la sectorizada no
###Embarked: En esta columna la que mejor lo hace es la moda


### Conclusiones: para este dataset y por el tipo de datos que tenemos usar la mediana y la moda nos da resultados bastante aproximados